#tweeters {
  list-style-type: none;
}

.tweeter {
  margin: 10px 0;
}

.tweeter img {
  float: left;
  margin-right: 10px;
}

.tweeter .info {
  float: left;
}


/* new clearfix */
.clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
        }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
